body {
    font-family: sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

#server-info, #timestamp {
    text-align: center;
    margin: 10px;
}

#data-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

#data-table.updated {
    background-color: #e0ffe0; /* Light green */
}

#data-table th, #data-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#data-table th {
    background-color: #f2f2f2;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #666;
}