body {
    font-family: sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

#data {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
