<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modbus Browser</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Modbus Browser</h1>
    <div id="server-info"></div>
    <div id="timestamp"></div>
    <div id="data">
        Waiting for data...
    </div>
    <script src="/static/app.js"></script>
    <footer>
        Made by Wendell Saligan
    </footer>
</body>
</html>
